__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.env
.env.*
venv/
.venv/
ENV/
env/
build/
dist/
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.vscode/
.idea/
.DS_Store
*.sqlite3
*.log
*.db
*.swp
*.swo
*.bak
node_modules/
/.docker/
docker-compose.override.yml
*.iml
/.history
/.ruff_cache/
/.pdm.toml
/.pdm.lock
/.python-version
/.ipynb_checkpoints/
/N8N
/.venv/